.calendar{
    color:#334D6E;
    padding: 28px 34px 40px 36px;
    border: 1px solid #ACB5BD;
    width: 304px;
    box-sizing: border-box;
}

.calendar__title{
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; 
    margin-bottom: 24px;
    text-align: center;
}

.calendar__body{
    padding-bottom: 100%;
    position: relative;
}
.calendar__inner{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-content: center;
}

.calendar__Weekday{
    color:  #90A0B7;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 24px;
}
.calendar__day{
    color: #334D6E;
    text-align: center;
    font-family: "Source Sans Pro";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    padding: 8px 10px;
    box-sizing: border-box;
}
.calendar__day_focus{
    background-color: #4263EB;
    color: #FFF;
}
.calendar__day_beetwenFocus{
    background: rgba(160, 177, 245, 0.2);
}