
.skeleton{
    border: 1px solid #ACB5BD;
    padding: 24px 40px 32px 24px;
    box-sizing: border-box;
    
}
.skeleton__head{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 24px;
}
.skeleton__photo{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: linear-gradient(93deg, #DDE2E5 6.44%, #E2E6E8 38.47%, #F3F5F5 56.48%, #E3E7EA 77.5%, #DDE2E5 102.52%);
    margin-right: 16px;
}
.skeleton__info{
    display: inline-flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
}
.skeleton__line{

    background: linear-gradient(93deg, #DDE2E5 6.44%, #E2E6E8 38.47%, #F3F5F5 56.48%, #E3E7EA 77.5%, #DDE2E5 102.52%);
    height: 20px;
}
.skeleton__line_small{
    width: 29.7%;
}
.skeleton__line_medium{
    width: 44.38%;
}
.skeleton__line_large{
    width: 100%;
}
.skeleton__body{
    display: flex;
    flex-direction: column;
    justify-content: start;

}

.skeleton__line_margin{
    margin-bottom: 8px;
}



